<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a>
                        About Team
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
                <li>
                    <a>
                        sign-up
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            Designed & Developed by Group 18
        </div>
    </div>
</footer>