<div [ng2-loading]="isDataLoading">
    <div class="top-nav-bg" ></div>

    <div class="buyer-nav-bar">
        <div class="row">
            <div class="col-6">
                <h4 style="margin-top: 10px;">Buyer Dashboard</h4>
            </div>
            <div class="col-6" align="right">
                <button type="button" class="btn btn-primary btn-just-icon" (click)="openBlockConfirmDialog()"><i
                        class="fa fa-lock"></i></button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 100px;">
        <div class="row" *ngIf="!isDataLoading && dataList.length > 0">
            <div class="col-12">
                <div align="center">
                    <h3>My Bid List</h3>
                </div>
                <table>
                    <tr>
                        <th>Images</th>
                        <th>Name</th>
                        <th>Price(Rs)</th>
                        <th>Your Price(Rs)</th>
                        <th>Seller</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let data of dataList; let i = index;">
                        <td>
                            <div align="center">
                                <img style="cursor: pointer;"
                                    [src]="imageLoadPath + data.product.images[data.product.default_image]"
                                    width="100px" (click)="open(data.product.images)">
                            </div>
                        </td>
                        <td>{{data.product.name}}</td>
                        <td>{{data.product.price | number : '1.2-2' }}</td>
                        <td>{{data.price | number : '1.2-2' }}</td>
                        <td>
                            {{data.seller.first_name}} {{data.seller.last_name}}
                        </td>
                        <td>
                            <span class="badge badge-primary" *ngIf="data.isSold == false">Not Accept Yet</span>
                            <span class="badge badge-success" *ngIf="data.isSold == true">Your Bid Won</span>
                            <span class="badge badge-success" *ngIf="data.isPayed == true">Payment Success</span>
                            <button *ngIf="data.isPayed == false && data.isSold == true" type="button" class="btn btn-secondary btn-round"
                                (click)="openAddDialog(data)">Pay Now</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row" *ngIf="!isDataLoading && dataList.length == 0">
            <div class="col-12">
                <div align="center">
                    <h3>My Bid List</h3>
                    <p>No previous bid found</p>
                    <button type="button" class="btn btn-primary btn-round" [routerLink]="['/products']">Go to
                        Products</button>
                </div>

            </div>
        </div>
    </div>

</div>